@font-face {
    font-family: "Comic Relief";
    src: url("../type/ComicRelief-Regular.woff2");
}

@font-face {
    font-family: "Betty Noir";
    src: url("../type/bettynoir.ttf");
}

@font-face {
    font-family: "Lemon Drop";
    src: url("../type/Lemondrop.ttf");
}

@font-face {
    font-family: "Bravibe";
    src: url("../type/BravibeRegular-OGW9o.otf");
}


html {
    color-scheme: light-dark;

    --bodycolor: rgb(120, 55, 33);
    --h1color: light-dark(rgb(44, 28, 20), rgb(230, 210, 180));
    --bordercolor: rgba(94, 66, 42, 0.9);
    --mainbackgroundcolor: rgb(245, 231, 209);
    --navulliabackgroundcolor: rgb(221, 196, 168);
    --navulliabordercolor: rgb(146, 105, 70);
    --navulliahoverbackgroundcolor: rgb(200, 170, 135);
    --headercolor: rgb(82, 34, 18);
    --blacktext: rgb(0, 0, 0);
    --color-bg-light: rgb(181, 156, 131);
    --color-bg-dark: rgb(75, 59, 43);
    --beigebordercolor: rgb(42, 24, 6);
    --beigeborderlight: rgb(42, 24, 6);
    --beige2bordercolor: rgb(208, 180, 151);

    --background: light-dark(
        var(--color-bg-light),
        var(--color-bg-dark)
    );
}


body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(
        circle,
        var(--navulliabackgroundcolor) 0%,
        var(--beige2bordercolor) 10%,
        var(--beigeborderlight) 100%
    );

    color: var(--bodycolor);
    overflow: hidden;
}


body > header {
    width: 95%;
    height: 4.5em;
    border: 2.5px solid var(--h1color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}


body > header h1 {
    margin: 0;
    margin-left: 1em;
    padding-top: 0.5em;
    color: var(--beige2bordercolor);
    font-family: "Bravibe", "Comic Relief", serif;
    font-size: 1.6em;
}


#pagina {
    width: 95%;
    flex: 1;
    min-height: 0;
    display: flex;
    gap: 1.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}


#links {
    flex: 1;
    min-height: 0;
    border: 2.5px solid var(--h1color);
    border-radius: 10px;
    display: flex;
    gap: 8em;
    padding: 4em;
    box-sizing: border-box;
}


#grotebox {
    position: relative;
    width: 16em;
    min-width: 16em;
    height: 100%;
}


#musicnote {
    position: absolute;
    top: 24em;
    left: 8em;
    width: 10em;
    z-index: 1;
}


#browntext {
    position: absolute;
    top: 20em;
    left: -1em;
    width: 11em;
    z-index: 1;
}


#beigeback {
    position: absolute;
    top: 8em;
    left: -2.5em;
    width: 23em;
    rotate: 90deg;
    z-index: 1;
}


#piano {
    position: absolute;
    top: 17.5em;
    left: 5.4em;
    width: 7.5em;
    rotate: 90deg;
    opacity: 90%;
    z-index: 8;
}


#pin {
    position: absolute;
    top: -1.5em;
    left: 8em;
    width: 7em;
    z-index: 4;
}

#cutebow {
    position: absolute;
    top: 4em;
    left: 12em;
    width: 6em;
    z-index: 7;
}


#lace {
    position: absolute;
    top: 4em;
    left: -2em;
    width: 14em;
    rotate: 90deg;
    opacity: 85%;
    z-index: 0;
}



#me {
    position: absolute;
    top: 6em;
    left: 3em;
    width: 12em;
    z-index: 7;
}


nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 0;
    margin: 0;
}


nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--navulliabackgroundcolor);
    border: 1px solid var(--navulliabordercolor);
    padding: 0.5em 1em;
    color: rgb(82, 34, 18);
}


nav ul li a:hover {
    background-color: var(--navulliahoverbackgroundcolor);
    transition: background-color 0.3s;
}


#midden {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-top: 1em;
}


#box1 {
    font-family: Bravibe;
    width: 100%;
    height: 15em;
    background-color: var(--beige2bordercolor);
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0.4em 0.4em 0 var(--h1color);
}


#box1 p {
    position: relative;
    color: var(--h1color);
    font-size: 1.3em;
    line-height: 1.4;
    padding-right: 1em;
    top: 1em;
    left: 1em;
}


#kleineboxen {
    width: 100%;
    display: flex;
    gap: 1em;
}


#box2 {
    position: relative;
    font-family: Bravibe;
    flex: 1;
    height: 8em;
    padding: 2em;
    box-sizing: border-box;
}


#camera {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    transform: translate(-50%, -50%);
    transition: scale 0.3s, filter 0.3s;
}


#box3 {
    position: relative;
    font-family: Bravibe;
    flex: 1;
    height: 8em;
    padding: 2em;
    box-sizing: border-box;
}


#plaat {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    z-index: 2;
    animation: spin 3s linear infinite;
    transition: scale 0.3s, filter 0.3s;
}


#box4 {
    position: relative;
    font-family: Bravibe;
    flex: 1;
    height: 8em;
    padding: 2em;
    box-sizing: border-box;
}


#Monkey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    transform: translate(-50%, -50%);
    transition: scale 0.3s, filter 0.3s;
}


#plaat:hover,
#Monkey:hover,
#camera:hover {
    scale: 1.15;
    filter:
        drop-shadow(0 0 0.8em var(--mainbackgroundcolor))
        drop-shadow(0 0 1.5em var(--mainbackgroundcolor));
}


aside {
    width: 25%;
    min-height: 0;
    border: 2.5px solid var(--h1color);
    border-radius: 10px;
    padding: 1.3em;
    padding-top: 5em;
    padding-right: 1.3em;
    padding-left: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    box-sizing: border-box;
}


#sidebox1 {
    height: 9em;
    background-color: var(--beige2bordercolor);
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;

    box-shadow: 0.4em 0.4em 0 var(--h1color);

    transition: transform 0.2s, box-shadow 0.2s;
}


#sidebox2 {
    height: 7em;

    background-color: var(--beige2bordercolor);

    border-radius: 10px;

    padding: 1em;

    box-sizing: border-box;
}


#sidebox3 {
    height: 3.5em;

    background-color: var(--beige2bordercolor);

    border-radius: 10px;

    padding: 1em;

    box-sizing: border-box;
}


/* dit had ik bij samir gezien en vond ik heeelll cool */

#sidebox1,
#sidebox2,
#sidebox3 {
    box-shadow: 0.4em 0.4em 0 var(--h1color);

    transition: transform 0.2s, box-shadow 0.2s;
}


#sidebox1:hover,
#sidebox2:hover,
#sidebox3:hover {
    transform: translateY(-0.4em) rotate(-1deg);

    box-shadow: 0.5em 0.5em 0 var(--mainbackgroundcolor);
}


aside > p {
    margin-top: auto;
    margin-bottom: 0;

    text-align: center;

    color: var(--h1color);

    font-family: "Comic Relief";
}


/* ANIMATIONNNNN */

@keyframes spin {

    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }

}


/* VOOR HET MOBIELETJE */

/* RESPONSIVE */

@media (max-width: 1100px) {

    body {
        height: auto;
        min-height: 100vh;
        overflow: auto;
        overflow-x: hidden;
    }

    #pagina {
        width: 90%;
        flex-direction: column;
        gap: 2em;
    }

    #links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        padding: 2em;
    }

    #grotebox {
        width: 16em;
        min-width: 16em;
        height: 31em;
    }

    #midden {
        width: 100%;
        gap: 3em;
        padding-top: 0;
    }

    #box1 {
        width: 100%;
        height: auto;
        min-height: 15em;
        padding: 2em;
    }

    #box1 p {
        margin: 0;
        padding: 0;
        font-size: 1.1em;
        line-height: 1.4;
    }

    #kleineboxen {
        width: 100%;
        flex-direction: column;
        gap: 2em;
    }

    #box2,
    #box3,
    #box4 {
        width: 100%;
        height: 10em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #camera,
    #Monkey {
        position: static;
        width: 8em;
        transform: none;
    }

    #plaat {
        position: static;
        width: 8em;
        transform: none;
        animation: spin-mobile 3s linear infinite;
    }

    aside {
        width: 100%;
        min-height: auto;
        padding: 1.5em;
        gap: 2em;
    }

    #sidebox1,
    #sidebox2,
    #sidebox3 {
        width: 100%;
        height: auto;
        min-height: 7em;
    }
}


@keyframes spin-mobile {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}


/* PRESENTATIE */

.remark-slide-content img {
    width: 80px;

    object-fit: cover;

    margin: 2px;
}


.remark-slide-content {
    color: var(--blacktext);
}


.remark-slide-content #links {
    border: none;

    display: block;

    padding: 0;

    width: auto;
}