/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(237, 188, 125, 0.593);
  color: CanvasText;
  color-scheme: light dark;
  background-color:rgba(237, 188, 125, 0.593) !important;
 

}


.remark-slide-content img {
  width: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin: 2px;
}


